.recent-posts {
    display: grid;
    grid-gap: 20px;


    .post-card {
        margin-bottom: 4em;
        font-weight: 300;
        padding: 8px;
        border-radius: 6px;
        background: #f9f9f9;

        .post-image {
            width: 100%;
            display: block;
            max-height: 230px;
            object-fit: cover;
            object-position: center center;
            position: relative;
        }

        .tags-container {
            font-size: 11px;
            font-weight: 500;
            margin-bottom: 14px;
            color: #FFF;
            margin-top: 8px;

            .tag {
                border-radius: 5px;
                padding: 4px 8px;
                margin-right: 5px;
            }
        }

        .post-description {

            .tag-content {
                max-width: 60ch;
            }

            .post-title {
                margin-bottom: 4px;
                cursor: pointer;

            }

            .post-details {
                font-size: 10px;
                color: gray;

                .author {
                    color: #74d1fc;
                    cursor: pointer;
                }
            }
        }

    }
}

@media screen and (max-width: 900px) {
    .recent-posts {
        display: flex;
        flex-direction: column;

        .post-card {

            .post-image {
                max-height: 400px;
            }
        }

    }
}